input[type="text"] {
  color: red;
}

input[type="password"] {
  color: green;
}

body {
  background-color: lightpink;
}

label {
  text-decoration: underline;
}

button {
  color: blue;
  background-color: green;
}