#one {
    text-align: left;
}

#two {
    font-weight: 100px;
}

#three {
    text-decoration: wavy underline;
}

#four {
    line-height: 5px;
}

#five {
    letter-spacing: 10px;
}

#six {
    font-size: 50px;
}

#seven {
    font-family: arial;
}